---
title: "Virginia Smallsat and Open Data Hub for Research and Commercialization"
layout: splash
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.3"
  overlay_image: /assets/images/smallsat4.jpg
feature_row:
  - image_path: /assets/images/smallsat1.jpg
  - image_path: /assets/images/planet(1).png
  - image_path: /assets/images/smallsat5.jpg
feature_row2:
  - image_path: /assets/images/pexels-cube-47.jpg
    alt: "cube"
    title: "Virginia Open Data Cube"
    excerpt: 'This geospatial analytical tool aids in the analysis of smallsat and satellite imagery. The Virginia Open Data Cube is currently being used by NASA, AMA, and Jefferson Laboratories.'
    url: "https://datacube.online"
    btn_label: "Get Started"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/VSDC.png
    alt: "VSDC logo"
    title: "Virginia SmallSat Data Consortium"
    excerpt: 'The VSDC was established as a part of the VSODHRC for more information about their accomplishments, visit their site.'
    url: "https://vadatahub.org/resources/links"
    btn_label: "Visit Now"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /assets/images/pexels-fire.jpg
    alt: "fire"
    title: "Virginia Fire Susceptibility Index"
    excerpt: "Virginia Tech's Fire Susceptibility Index models wildfire risks with geospatial data using the power of the Virginia Open Data Cube."
    url: "assets/content/VSDC_FSI_Data_Cube.pdf"
    btn_label: "Read more"
    btn_class: "btn--primary"
feature_row5:
  - image_path: /assets/images/wallops.jpeg
    alt: "tech"
    title: "Wallops Flight Facility Intergration and Testing Customer Handbook"
    excerpt: "NASA Wallops Integration and Test Capabilities"
    url: "/assets/content/Wallops IT Capabilities Handbook_updates_08.11.22_ (1).pdf"
    btn_label: "Read more"
    btn_class: "btn--primary"
feature_row6:
  - image_path: /assets/images/pexels-satellite.jpg
    alt: "sat"
    title: "Smallsat Mission Analysis Tool - DISCOTech"
    excerpt: "Read more on our Smallsat Mission Analysis tool, called DISCOTech"
    url: "/assets/content/VSDC_DISCOTech_Tool.pdf"
    btn_label: "Read more"
    btn_class: "btn--primary"
feature_row7:
  - image_path: /assets/images/pexels-spacex-586045.jpg
    alt: "tree"
    title: "Smallsat Capabilities Inventory"
    excerpt: "Check out our list of Smallsat Capabilities Inventory"
    url: "/assets/content/VirginiaSmallsatFacilities.xlsx"
    btn_label: "Read more"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center"  class="wide"%}

<h1 style="text-align:center">Our Mission</h1>
<br>
  
<p style="text-align:center">We work with entrepreneurs and innovators to identify unmet market needs and develop viable business models with including sources of relevant demographic, economic, social, cultural, and political data.</p>

<br>

<p style="text-align:center">We serve as the long term sustainment entitiy for Space, Autonomous, Systems, and Ground Based Data to be used for Research and Commercialization. We aim to create new pathways to obtain, integrate, and disseminate unmanned systems and ground based data.</p>
<br>
<hr>
<br>

{% include feature_row %}
<!--
<img src="/assets/images/smallsat1.jpg" width="400" height="250" style="float: left;">

<img src="/assets/images/smallsat5.jpg" width="400" height="250" style="float: right;">

<hr>
<br>-->

<h1 style="text-align:center">About Us</h1>
<br>
<ul>
 <li>We aim to create new pathways to obtain, integrate, disseminate, and monetize satellite, unmanned systems, and ground base data.</li>
 <li>We want to hear from entrepreneurs and innovators to identify unmet market needs, problems, and develop viable business models.</li>
 <li>We are a central hub to provide sources of relevant demographic, economic, social, cultural, and political data.</li>
 <li>We establish connections with finanical, intellectual, and social enterprises that are essential to the growth of new companies.</li>

 <h3>If you or your organization can benefit from or contribute to our objectives, contact us!</h3> 
<!--<h1 style="text-align:center"> Example Projects</h1>-->
<br>
<hr>
<br>

<!--{% include feature_row id="feature_row2" type="center" %}-->

<!--{% include feature_row id="feature_row4" type="left" %}-->

<!--{% include feature_row id="feature_row5" type="right" %}-->

<!--{% include feature_row id="feature_row3" type="center" %}-->

<!--{% include feature_row id="feature_row6" type="left" %}-->

<!--{% include feature_row id="feature_row7" type="right" %}-->

<!--{% include feature_row %}-->

