---
title: "Virginia Smallsat and Open Data Hub for Research and Commercialization"
layout: splash
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.3"
  overlay_image: /assets/images/smallsat4.jpg
feature_row:
  - image_path: /assets/images/smallsat1.jpg
  - image_path: /assets/images/planet.png
  - image_path: /assets/images/smallsat5.jpg
feature_row2:
  - image_path: /assets/images/pexels-cube-47.jpg
    alt: "cube"
    title: "Virginia Open Data Cube"
    excerpt: 'This geospatial analytical tool aids in the analysis of smallsat and satellite imagery. The Virginia Open Data Cube is currently being used by NASA, AMA, and Jefferson Laboratories.'
    url: "https://datacube.online"
    btn_label: "Get Started"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/VSDC.png
    alt: "VSDC logo"
    title: "Virginia SmallSat Data Consortium"
    excerpt: 'The VSDC was established as a part of the VSODHRC for more information about their accomplishments, visit their site.'
    url: "https://vadatahub.org/resources/links"
    btn_label: "Visit Now"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /assets/images/pexels-fire.jpg
    alt: "fire"
    title: "Virginia Fire Susceptibility Index"
    excerpt: "Virginia Tech's Fire Susceptibility Index models wildfire risks with geospatial data using the power of the Virginia Open Data Cube."
    url: "assets/content/VSDC_FSI_Data_Cube.pdf"
    btn_label: "Read more"
    btn_class: "btn--primary"
feature_row5:
  - image_path: /assets/images/wallops.jpeg
    alt: "tech"
    title: "Wallops Flight Facility Intergration and Testing Customer Handbook"
    excerpt: "NASA Wallops Integration and Test Capabilities"
    url: "/assets/content/Wallops IT Capabilities Handbook_updates_08.11.22_ (1).pdf"
    btn_label: "Read more"
    btn_class: "btn--primary"
feature_row6:
  - image_path: /assets/images/pexels-satellite.jpg
    alt: "sat"
    title: "Smallsat Mission Analysis Tool - DISCOTech"
    excerpt: "Read more on our Smallsat Mission Analysis tool, called DISCOTech"
    url: "/assets/content/VSDC_DISCOTech_Tool.pdf"
    btn_label: "Read more"
    btn_class: "btn--primary"
feature_row7:
  - image_path: /assets/images/pexels-spacex-586045.jpg
    alt: "tree"
    title: "Smallsat Capabilities Inventory"
    excerpt: "Check out our list of Smallsat Capabilities Inventory"
    url: "/assets/content/VirginiaSmallsatFacilities.xlsx"
    btn_label: "Read more"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center"  class="wide"%}

<h1 style="text-align:center">Our Mission</h1>
<br>
<h3 style="text-align:center">We serve as the long-term sustainment entitiy for the design, development, and application of Spaceflight and Autonomous Systems, and the data they produce so it can be used for Research and Commercialization opportunities.</h3>

<br>
<h3 style="text-align:center">We aim to create new pathways to obtain, integrate, anaylze, use, and disseminate data from space, airborne, and ground based remote and platform.</h3>

<br>
<h3 style="text-align:center">We work with public entities, entrepreneurs, and innovators to identify potential data driven solutions to problems or questions, perform market needs asessments, and develop viable business models by also including sources of relevant demographic, economic, social, cultural, and political data.</h3>

<br>
<hr>
<br>

{% include feature_row %}

<h1 style="text-align:center">About Us</h1>
<br>
<ul>
 <li><b>We aim to create new pathways to obtain, integrate, disseminate, and monetize satellite, unmanned systems, and ground base data.</b></li>
 <li><b>We want to hear from entrepreneurs and innovators to identify unmet market needs, problems, and develop viable business models.</b></li>
 <li><b>We are a central hub to provide sources of relevant demographic, economic, social, cultural, and political data.</b></li>
 <li><b>We establish connections with finanical, intellectual, and social enterprises that are essential to the growth of new companies.</b></li>

 <h3>If you or your organization can benefit from or contribute to our objectives, contact us!</h3> 
<br>
<hr>
<br>

