---
title: "Virginia Smallsat and Open Data Hub for Research and Commercialization"
layout: splash
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/pexels-pixabay-220201.jpg
intro: 
  - excerpt: 'In collaboration with Old Dominion University, Virginia Tech, and UVA, introducing the VSODHRC.'
feature_row:
  - image_path: /assets/images/pexels-pixabay-2150.jpg 
    alt: "placeholder image 1"
    title: "Journal of Spacecraft and Rockets Publication"
    excerpt: "Check out Virginia Tech's paper on Genetic-Algorithm-Based Design for Rideshare and Heterogeneous Constellations"
    url: ({{ site.url }}/assets/content/WagnerJSR-1.a34527.pdf)
    btn_label: "Read more"
    btn_class: "btn--primary"
  - image_path: /assets/images/pexels-astronomy.jpg
    alt: "placeholder image 2"
    title: "American Astronomical Society"
    excerpt: "Read more on the Design of a Resilient Rideshare-Based Small Satellite Constellation Using a Genetic Algorithm"
    url: "/project-2"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/pexels-station.jpg
    title: "Virginia Ground Station Network"
    excerpt: "Read more on Virginia Tech's Ground Station Services."
    url: "/project-3"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/images/pexels-cube-47.jpg
    alt: "placeholder image 2"
    title: "Virginia Open Data Cube"
    excerpt: 'This geospatial analytical tool aids in the analysis of smallsat and satellite imagery. The Virginia Open Data Cube is currently being used by NASA, AMA, and Jefferson Laboratories.'
    url: "#test-link"
    btn_label: "Go"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/grapes-header.jpeg
    alt: "placeholder image 2"
    title: "Smallsat Mission Anaylysis Tool"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Right aligned with `type="right"`'
    url: "#test-link"
    btn_label: "Go to"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /assets/images/grapes-header.jpeg
    alt: "placeholder image 2"
    title: "Smallsat Capabilities Inventory"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
    url: "#test-link"
    btn_label: "Go to"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %}

{% include feature_row %}

