---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.feature__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 -10px; /* Adjust the negative margin according to your layout */
  }
  
.feature__item {
    flex: 1 1 300px; /* Set the minimum width of each feature item */
    margin: 0 10px; /* Adjust the margin according to your layout */
}
  
